@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
header {
  box-shadow: 0 15px 40px -20px rgba(40, 44, 63, 0.15);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  max-width: 1200px;
  margin: 0 auto;
}
.Logo {
  width: 140px;
  cursor: pointer;
}
.nav-items ul {
  display: flex;
  list-style-type: none;
}
.nav-items ul li {
  padding: 10px;
  margin: 10px;
  font-size: 0.9rem;
  cursor: pointer;
}
.nav-items ul li:hover {
  color: #fc8019;
}
.body {
  max-width: 1200px;
  margin: 0 auto;
}
.res-card {
  width: 260px;
  padding: 20px 20px 50px;
  margin: 10px 20px;
  position: relative;
}
.res-card:hover {
  transform: scale3d(1.03, 1.03, 1);
}
.res-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px;
}
.res-card:hover {
  cursor: pointer;
  box-shadow: 0px 0px 8px #ccc;
}
.res-img {
  width: 100%;
}
.res-name {
  font-size: 17px;
  font-weight: 500;
  word-break: break-word;
}
.res-cuisines {
  color: #686b78;
  font-size: 13px;
  margin-top: 4px;
}
.res-stars-div {
  margin-top: 18px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #535665;
}
.res-offers {
  border-top: 1px solid #e9e9eb;
  padding-top: 14px;
  margin-top: 14px;
  color: #8a584b;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.res-promoted {
  position: absolute;
  top: 20px;
  left: 11px;
  font-size: 13px;
  font-weight: 500;
  padding: 5px 9px 4px;
  max-width: 50%;
  text-transform: uppercase;
  background: rgb(58, 60, 65);
  color: rgb(255, 255, 255);
  border-color: rgb(30, 32, 35) transparent;
}
.res-promoted::before {
  position: absolute;
  bottom: -9px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-color: inherit;
  left: 0;
  border-width: 9px 0 0 9px;
}
.searchDiv {
  padding: 20px;
  text-align: center;
}
.input-search {
  width: 30%;
  height: 30px;
  border: 1px solid #ccc;
  border-right: 0px;
  border-radius: 8px 0px 0px 8px;
  padding: 10px;
}
.input-search:focus-visible {
  outline: none;
}
.rated-Btn {
  border: 1px solid #ccc;
  border-radius: 0 8px 8px 0;
  padding: 5px 10px;
  border-left: 0px;
  cursor: pointer;
}
footer {
  box-shadow: 0 -15px 40px -20px rgba(40, 44, 63, 0.15);
}
.footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* filters CSS Starts */
.filters-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e9e9eb;
}
.filters ul {
  display: flex;
  align-items: center;
}
.filters ul li {
  font-size: 16px;
  font-weight: 300;
  text-transform: capitalize;
  color: #686b78;
  margin-left: 35px;
  cursor: pointer;
  list-style: none;
  font-size: 16px;
  font-weight: 300;
  text-transform: capitalize;
  color: #686b78;
  margin-left: 35px;
  cursor: pointer;
  padding: 10px 0px;
  position: relative;
}
.filters ul li:hover {
  color: #3d4152;
  transform: scale3d(1.03, 1.03, 1);
}
.filters ul .underlineActive::after {
  content: "";
  height: 1px;
  background: #282c3f;
  position: absolute;
  top: 41px;
  left: 0px;
  right: 0px;
}
.res-count {
  font-weight: 600;
  font-size: 28px;
}
/* filters CSS Ends */
